<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{ destiny.name }}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>
      <i class="fa-lg fa-star text-warning" 
      [ngClass]="{ 'far': !destiny.is_selected(), 'fas' : destiny.is_selected()}"></i>
      {{ destiny.name }}
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
      quo, perspiciatis
      voluptas totam</p>
    <a href="#" class="btn-card" (click)="select()">{{ Click! }}</a>
  </div>
</div>